<!doctype html>
<html ng-app='app'>
  	<head>
    	<title></title>
    	<link rel='stylesheet/less' type='text/css' href='/stylesheets/style.less'>    	
	</head>
  	<body ng-controller='AppCtrl'>
  		<%- body %>

		<script src='/lib/jquery/jquery.min.js'></script>
		<script src='/lib/less/less.min.js'></script>
		<script src='/lib/angular/angular.min.js'></script>

		<script src='/javascripts/app.js'></script>
		<script src='/javascripts/application/controllers/AppCtrl.js'></script>
  	</body>
</html>